# Sets in Python

 A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

# Declaring a set

In [27]:
set1 = set()
set2 = {}
set3 = set([1,"Code with Rizwan",False])
set4 = {2,"Code with Alpha",True}
print(set1,set2,set3,set4)

set() {} {False, 1, 'Code with Rizwan'} {'Code with Alpha', 2, True}

# Adding elements in Sets

In [7]:
set1.add(3)
set1.add(3.14)
set1.add("Alpha Technoholics")
print(set1)

{3.14, 'Alpha Technoholics', 3}

Set only contains one value. It does not contain duplicate values.

In [9]:
set1.add(3)
print(set1)

{3.14, 'Alpha Technoholics', 3}

# Accessing elements in a set

Sets can not be accessed by referring to an index, since it is unordered and item has no index. 
Elements in set can be accessed using 'for loop' and 'in' keyword or operetor to check if value is present in set.

In [13]:
for elem in set1:
    print(elem)

"Code with Alpha" not in set3

3.14
Alpha Technoholics
3

True

# Remove elements from a set


remove() vs discard()
Both of these methods remove elements. The only difference is that If specified item is not present in a set:

remove() method raises KeyError
discard() method does nothing

pop() method removes random item from a set and returns it.
clear() method to remove all items from the set.

In [29]:
set4.clear()
print(set4)

set()

# Set Operations

# Union

A = {'mango', 'apple', 'banana'}
B = {'banana', 'grapes', 'orange'}

# by operator
print(A | B)


# by method
print(A.union(B))

In [30]:
A = {'mango', 'apple', 'banana'}
B = {'banana', 'grapes', 'orange'}

# by operator
print(A | B)


# by method
print(A.union(B))

{'orange', 'grapes', 'banana', 'apple', 'mango'}
{'orange', 'grapes', 'banana', 'apple', 'mango'}

# Intersection

A = {'mango', 'apple', 'banana'}
B = {'banana', 'grapes', 'orange'}

# by operator
print(A & B)

# by method
print(A.intersection(B))

In [31]:
A = {'mango', 'apple', 'banana'}
B = {'banana', 'grapes', 'orange'}

# by operator
print(A & B)

# by method
print(A.intersection(B))

{'banana'}
{'banana'}

# Difference

A = {'mango', 'apple', 'banana'}
B = {'banana', 'grapes', 'orange'}

# by operator
print(A - B)


# by method
print(A.difference(B))

In [32]:
A = {'mango', 'apple', 'banana'}
B = {'banana', 'grapes', 'orange'}

# by operator
print(A - B)


# by method
print(A.difference(B))

{'apple', 'mango'}
{'apple', 'mango'}

# Systematic Difference

A = {'mango', 'apple', 'banana'}
B = {'banana', 'grapes', 'orange'}

# by operator
print(A ^ B)


# by method
print(A.symmetric_difference(B))

In [33]:
A = {'mango', 'apple', 'banana'}
B = {'banana', 'grapes', 'orange'}

# by operator
print(A ^ B)


# by method
print(A.symmetric_difference(B))

{'orange', 'grapes', 'apple', 'mango'}
{'orange', 'grapes', 'apple', 'mango'}